{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'login/css/logar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/recuperar.css' %}">
{% endblock %}

{% block 'titulo' %}Recuperar conta{% endblock %}

{% block 'body' %}
    <div class="container">
      <div class="login-container">
          <h2>Recuperar conta</h2>
          {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}" id="message">
                            {{message}}
                        </div>
                    {% endfor %}
            {% endif %}
            <br>
          <form method="POST" action="{% url 'recuperar' %}">{% csrf_token %}             
            <div class="input-container">  
                <input type="text" id="email" name="email" placeholder="E-mail">
                <img id="img-email" src="{% static 'login/img/E-mail_Icon_White-removebg.png' %}">
            </div><br>
            
            <input type="submit" value="Recuperar">
            </form> 
      </div>
      <img class="cookie-image" src="{% static 'login/img/logocandyshop.png' %}">
    </div>
{% endblock %}
