{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'login/css/logar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/recuperar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/password_reset_complete.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container">
  <div class="login-container">
    <h2>Senha redefinida com sucesso!</h2>
    <p>Sua senha foi redefinida com sucesso!</p>
    <p>Você está sendo redirecionado para a pagina de login!</p>
  </div>
  <img class="cookie-image" src="{% static 'login/img/logocandyshop.png' %}">
</div>
<script>
  setTimeout(function(){
    window.location.href = '/';
  }, 5000);
</script>
{% endblock %}
