{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'login/css/logar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/recuperar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/password_reset_confirm.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container">
  <div class="login-container">
  <h2>Redefinir senha</h2>
  <form method="post">
    {% csrf_token %}
    <div class="input-container">
    {{ form.as_p }}
    </div><br>
    <input type="submit" value="Redefinir senha">
  </form>
</div>
<img class="cookie-image" src="{% static 'login/img/logocandyshop.png' %}">
</div>
{% endblock %}
